<p style="color: green"><%= notice %></p>

<h1>Categories</h1>
<% if user_signed_in? %>
  <h1>Welcome Home, <%= current_user.email %></h1>
    <%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete } %>
  <p>User Role: <%= current_user.role %></p> <!-- Display user role here -->

<% else %>
  <h1>Home</h1>
  <%= link_to 'Sign in', new_user_session_path %>
<% end %>


<div id="categories">
  <% @categories.each do |category| %>
    <%= render category %>
    <p>
      <%= link_to "Show this category", category %>
    </p>
    
  <% end %>
</div>

<%= link_to "New category", new_category_path %>
