<div id="<%= dom_id product %>">
  <p>
    <strong>Title:</strong>
    <%= product.title %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= product.image %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

    <p>
    <strong>Category:</strong>
    <%= product.category&.name%>
  </p>

</div>
